{% extends "account/email/base_message.html" %}
{% load i18n %}

{% block content %}{% autoescape off %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
<p> It seems you've requested to reset your password for your {{ site_name }} account. No worries, we've got you covered! </p>

<p> To reset your password, simply click on the link below: </p>

<a href="{{ password_reset_url }}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px;">Reset Password</a>

<p> If the link doesn't work, please copy and paste the following URL into your web browser's address bar: </p>

<p> {{ password_reset_url }} </p>

<p> Once you've reset your password, you'll be able to access your account as usual. If you didn't request this password reset or if you have any concerns, please don't hesitate to contact our support team at {{ support_email }}. We're here to help! </p>
{% endblocktrans %}{% endautoescape %}{% endblock content %}
